{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zh_tcwq/template/public/ygcsslist.css">
<ul class="nav nav-tabs">
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>    
<li class="active"><a href="{php echo $this->createWebUrl('acthx',array('act_id' => $_GPC['act_id']))}">核销员管理</a></li>
    <li ><a href="{php echo $this->createWebUrl('addacthx',array('act_id' => $_GPC['act_id']))}">添加核销员</a></li>
</ul>
<div class="main">   
    </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                核销员管理
            </div>
            <div class="panel-body" style="padding: 0px 15px;">
                <div class="row">
                    <table class="yg5_tabel col-md-12">
                        <tr class="yg5_tr1">
                            <td class="store_td1 col-md-1">核销员头像</td>
                            <td class="col-md-2">核销员名称</td>
                            <td class="col-md-2">操作</td>
                        </tr>
                        {loop $list $row}
                        {php $userinfo=pdo_get("zhtc_user",array('id'=>$row['user_id']))}
                        <tr class="yg5_tr2">
                            <td><img height="40" src="{media $userinfo['img']}">&nbsp;&nbsp;</div></td>
                            <td>{$userinfo['name']}</td>
                            <td>
                                <a href="{php echo $this->createWebUrl('addacthx', array('id' => $row['id'],'act_id' => $_GPC['act_id']))}" class="storespan btn btn-xs">
                                    <span class="fa fa-pencil"></span>
                                    <span class="bianji">编辑
                                        <span class="arrowdown"></span>
                                    </span>                            
                                </a>
                                <a href="javascript:void(0);" class="storespan btn btn-xs" data-toggle="modal" data-target="#myModal{$row['id']}">
                                    <span class="fa fa-trash-o"></span>
                                    <span class="bianji">删除
                                        <span class="arrowdown"></span>
                                    </span>
                                </a>
                            <!-- <a class="btn btn-warning btn-xs" href="{php echo $this->createWebUrl('addtype', array('id' => $row['id']))}" title="编辑">改</a>&nbsp;&nbsp;
                           <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal{$row['id']}">删</button> -->
                            </td>
                        </tr>
                         <div class="modal fade" id="myModal{$row['id']}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel" style="font-size: 20px;">提示</h4>
                        </div>
                        <div class="modal-body" style="font-size: 20px">
                            确定删除么？
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                            <a href="{php echo $this->createWebUrl('acthx', array('id' => $row['id'],'op'=>'delete','act_id' => $_GPC['act_id']))}" type="button" class="btn btn-info" >确定</a>
                        </div>
                    </div>
                </div>
            </div>
                        {/loop}
                       
                    </table>
                </div>
            </div>
        </div>
    {$pager}
</div>
<script type="text/javascript">
    $(function(){
        $("#frame-20").show();
        $("#yframe-20").addClass("wyactive");

       
    })
</script>