{template 'public/header'}
{template 'public/comhead'}
<link rel="stylesheet" type="text/css" href="../addons/zh_tcwq/template/public/ygcss.css">
<style type="text/css">
    input[type="radio"] + label::before {
        content: "\a0"; /*不换行空格*/
        display: inline-block;
        vertical-align: middle;
        font-size: 16px;
        width: 1em;
        height: 1em;
        margin-right: .4em;
        border-radius: 50%;
        border: 2px solid #ddd;
        text-indent: .15em;
        line-height: 1; 
    }
    input[type="radio"]:checked + label::before {
        background-color: #44ABF7;
        background-clip: content-box;
        padding: .1em;
        border: 2px solid #44ABF7;
    }
    input[type="radio"] {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }
</style>

<ul class="nav nav-tabs">    
    <span class="ygxian"></span>
    <div class="ygdangq">当前位置:</div>   
    <li><a href="{php echo $this->createWebUrl('nav')}">导航管理</a></li>
    <li class="active"><a href="{php echo $this->createWebUrl('addnav')}">添加导航</a></li>
</ul>
<div class="main ygmain">
    <form action="" method="post" class="form-horizontal form" enctype="multipart/form-data">
        <!--<input type="hidden" name="parentid" value="{$parent['id']}" />-->
        <div class="panel panel-default ygdefault">
            <div class="panel-heading wyheader">
                内容编辑
            </div>
            <div class="panel-body">
               
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="title" class="form-control" value="{$info['title']}" />
                    </div>
                </div>               
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">导航图标</label>
                    <div class="col-sm-9">
                        {php echo tpl_form_field_image('logo', $info['logo'])}
                        <span class="help-block">*建议宽高2:1</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">选择跳转路径</label>
                    <div class="col-sm-9">
                        <select name="state" class="col-md-9" id="type">
                            <option value="1" {if $info['state']=='1'} selected {/if}>内部网页跳转</option>
                            <option value="2" {if $info['state']=='2'} selected {/if}>外部网页跳转</option>
                            <option value="3" {if $info['state']=='3'} selected {/if}>关联小程序跳转</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ygyi1">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">内部链接</label>
                    <div class="col-sm-9">
                <input type="text" name="src" class="form-control" value="{$info['src']}" />
                <span class="help-block">*跳转商家页面请按以下格式填写,id值在商家列表中获取(../sellerinfo/sellerinfo?id=1)</span>
                <span class="help-block">*跳转商家分类页面请按以下格式填写,id和name值在分类列表中获取(../store/business?id=1&typename=商家分类名字)</span>
                <span class="help-block">*跳转资讯页面请按以下格式填写(../message/message)</span>
                <span class="help-block">*跳转顺风车页面请按以下格式填写(../shun/shun)</span>
                <span class="help-block">*跳转帖子分类页面请按以下格式填写,id和name值在分类列表中获取(../marry/marry?id=1&name=帖子分类名字)</span>
                <span class="help-block">*跳转帖子页面请按以下格式填写,id在帖子列表中获取(../infodetial/infodetial?id=1)</span>
                <span class="help-block">*跳转黄页页面请按以下格式填写(../yellow_page/yellow)</span>
                <span class="help-block">*跳转视频页面请按以下格式填写(../spzx/spzx?name=自定义视频中心顶部标题)</span>
                <span class="help-block">*跳转签到页面请按以下格式填写(../qd/qd)</span>
                <span class="help-block">*跳转积分商城页面请按以下格式填写(../integral/integral)</span>
                <span class="help-block">*跳转底部发布页面请按以下格式填写(../fabu/fabu/fabu)</span>
                <span class="help-block">*跳转底部商家页面请按以下格式填写(../store/store)</span>
                <span class="help-block">*跳转活动中心请按以下格式填写(../hdzx/hdzx?name=自定义活动中心标题)</span>
                   
                    </div>
                </div>
                <div class="form-group ygyi2">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">外部链接</label>
                    <div class="col-sm-9">
                        <input type="text" name="wb_src" class="form-control" value="{$info['wb_src']}" />
                        <span class="help-block">*此链接为网页外部跳转链接，需要在小程序后台配置业务域名。</span>
                    </div>
                </div>
                <div class="form-group ygyi3">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">跳转小程序名称</label>
                    <div class="col-sm-9">
                        <input type="text" name="xcx_name" class="form-control" value="{$info['xcx_name']}" />
                    </div>
                </div> 
             <div class="form-group ygyi3">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">小程序appid</label>
                    <div class="col-sm-9">
                        <input type="text" name="appid" class="form-control" value="{$info['appid']}" />
                        <span class="help-block">*要跳转的小程序appid(只有同一公众号下的关联的小程序之间才可相互跳转)</span>
                    </div>
                </div>
              
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">排序</label>
                    <div class="col-sm-9">
                        <input type="text" name="orderby" class="form-control" value="{$info['orderby']}" />
                        <span class="help-block">*顺序由小到大，数字越小，排在前面。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-12 col-sm-3 col-md-2 control-label">是否禁用</label>
                    <div class="col-sm-9">
                        <label class="radio-inline">
                            <input type="radio" id="emailwy1" name="status" value="1" {if $info['status']==1 || empty($info['status'])}checked{/if} />
                            <label for="emailwy1">启用</label>
                        </label>
                        <label class="radio-inline">
                            <input type="radio" id="emailwy2" name="status" value="2" {if $info['status']==2}checked{/if} />
                            <label for="emailwy2">禁用</label>
                        </label>    
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <input type="submit" name="submit" value="提交" class="btn col-lg-3" style="color: white;background-color: #44ABF7;"/>
            <input type="hidden" name="token" value="{$_W['token']}" />
            <input type="hidden" name="id" value="{$info['id']}" />
        </div>
    </form>
</div>
<script type="text/javascript">
    $(function(){
        // $(".ygyi1").show();
        // $(".ygyi2").hide();  
        // $(".ygyi3").hide();  
        
        "{if $info}"
            "{if $info['state']=='1'}"
                $('.ygyi2').hide();
                $('.ygyi3').hide();
            "{/if}"
            "{if $info['state']=='2'}"
                $('.ygyi1').hide();
                $('.ygyi3').hide();
            "{/if}" 
            "{if $info['state']=='3'}"
                $('.ygyi1').hide();
                $('.ygyi2').hide();
            "{/if}"            
        "{else}"
            $('.ygyi2').hide();
            $('.ygyi3').hide();
        "{/if}"
        $("select#type").change(function(){
            if($(this).val()=='1'){
                console.log($(this).val())
                $(".ygyi1").show();
                $(".ygyi2").hide();
                $(".ygyi3").hide();  
            }else if($(this).val()=='2'){
                console.log($(this).val())
                $(".ygyi1").hide();
                $(".ygyi2").show();
                $(".ygyi3").hide();  
            }else if($(this).val()=='3'){
                console.log($(this).val())
                $(".ygyi1").hide();
                $(".ygyi2").hide();
                $(".ygyi3").show();  
            }
         })
        $("#frame-17").show();
        $("#yframe-17").addClass("wyactive");
    })
</script>